html, body {
    overflow: hidden;
    box-sizing: 0;
    border: 0;
    padding: 0;

    background: #9796f0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0)
}